header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(29, 29, 29);
}

button {
    border: none;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0px;
    font-size: larger;
    color: floralwhite;
    background-color: inherit;
}

button:hover {
    background-color: rgb(113, 113, 113);
    cursor: pointer;
}